.idea/
*.tfvars
.terraform/*
*.tfstate*

.DS_Store
.idea/*
*.retry*
*/.vagrant
packer_cache
output-virtualbox-iso
*.vdi
*.box
.idea
packerlog.txt
*.retry
*.vagrant
*.iml
*.log
*.circleci/
.DS_Store
*ifup.sh*
# Compiled files
*.tfstate
*.tfstate.backup

# Module directory
.terraform/
.idea/
terraform.tfstate.*
*ubuntu-bionic-18.04-cloudimg-console*
variables.tfvars
*.py